<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TV Show Ratings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
    <style>
        body {
            padding-top: 50px;
            font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00B7FF;
        }
    </style>
</head>

<body>
    <div class="container">
    {{{body}}}
    </div>
</body>

</html>